body{
   margin:0;
   padding:0;
}

.cont{
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
}

.line{
    height:170vh;
    width:10px;
    background-color:rgb(129,233,51);
    padding:0px;
    margin:0px;
    box-shadow:4px 4px 0px rgb(70, 140, 12);
}

.text1,.text2,.text3{
    border: 8px solid rgb(129,233,51);
    border-radius: 20px;
    max-width: 30vw;
    padding: 20px 30px;
    font-size: 18px;
    background-color: white;
    box-shadow:4px 4px 0px rgb(70, 140, 12);
}

.text1{margin-top: 20vh;}

.text2{margin-top: 45vh;}

.text3{margin-top: 35vh;}

